@using PrivateLibrary.Data.Models
@model Employee

@{
    ViewData["Title"] = "Детайли за служител";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Име: </dt>
            <dd class="col-sm-9">@Model.User.FirstName</dd>

            <dt class="col-sm-3">Презиме: </dt>
            <dd class="col-sm-9">@Model.MiddleName</dd>

            <dt class="col-sm-3">Фамилия: </dt>
            <dd class="col-sm-9">@Model.User.LastName</dd>

            <dt class="col-sm-3">Email: </dt>
            <dd class="col-sm-9">@Model.User.Email</dd>

            <dt class="col-sm-3">Телефон: </dt>
            <dd class="col-sm-9">@Model.User.PhoneNumber</dd>

            <dt class="col-sm-3">EГН: </dt>
            <dd class="col-sm-9">@Model.EGN</dd>

            <dt class="col-sm-3">Дата на назначаване: </dt>
            <dd class="col-sm-9">@Model.HireDate.ToShortDateString()</dd>

            <dt class="col-sm-3">Статус: </dt>
            <dd class="col-sm-9">@(Model.IsAccountActive ? "Активен" : "Неактивен")</dd>
            @if (Model.LeaveDate is not null)
            {
                <dt class="col-sm-3">Освободен на: </dt>
                <dd class="col-sm-9">@Model.LeaveDate?.ToShortDateString()</dd>
            }
        </dl>
        @if (User.IsInRole("Admin"))
        {
           <a asp-action="Delete" asp-controller="Employee" asp-route-userId="@Model.UserId" class="btn btn-danger">Изтриване</a> 
        }
        <a asp-action="Edit" asp-controller="Employee" asp-route-userId="@Model.UserId" class="btn btn-success"> <i class="bi bi-person-dash-fill"></i>Редактиране</a>
    </div>
</div>