﻿@using PrivateLibrary.Data.Models;
@model TakenBook

<link href="~/css/books.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Детайли за вземане на книга";
}


<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="book-details-container">
    <div class="image-ctr">
        <img src="@Model.Book.Image" alt="Alternate Text" />
    </div>
    <div class="info-container">
        <h4>@Model.Title</h4>
        <div class="details">
            <p>Автор: @Model.Author</p>
            <p>Взета от: <a asp-controller="Reader" asp-action="Details" asp-route-userId="@Model.Reader.Id">@Model.Reader.User.FirstName @Model.Reader.User.LastName</a></p>
            <p>Взета на: @Model.DateOfTaking.ToShortDateString()</p>
            <p>Дата на връщане: @Model.DateOfReturn.ToShortDateString()</p>
            <p>Цена: @Model.Price лв.</p>
        </div>
        <a asp-controller="TakenBook" asp-action="Return" asp-route-id="@Model.Id" class="btn btn-danger "> <i class="bi bi-person-dash-fill"></i>Върни</a>
    </div>
</div>
