﻿@using PrivateLibrary.Data.Models;
@model TakenBook

<div>
    <div class="card" style=" padding: 25px 25px 25px 25px;">
        <div class="container">
            <h4>
                <b>
                    @Model.Title
                </b>
            </h4>

            <p>
                Author: @Model.Author
            </p>

            <p>
                Взета от: @Model.Reader.FirstName @Model.Reader.LastName
            </p>

            <p>
                DateOfTaking: @Model.DateOfTaking
            </p>

            <p>
                DateOfReturn: @Model.DateOfReturn
            </p>

            <p>
                Price: @Model.Price
            </p>
        </div>
    </div>
</div>