@using PrivateLibrary.Data.Models;
@using PrivateLibrary.Models.Pagination
@model PaginatedList<TakenBook>

<link href="~/css/books.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Взети книги от читател";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="book-container">
    @foreach (var takenBook in Model)
    {
        <a asp-controller="TakenBook" asp-action="Details" asp-route-id="@takenBook.Id" class="book-card">
            <div class="w-100">
                <img class="card-img" src="@takenBook.Book.Image" />
            </div>
            <div class="info-box">
                <h4>@takenBook.Title</h4>
                <p>Автор: @takenBook.Author</p>
                <p>Дата на връщане: @takenBook.DateOfReturn.ToShortDateString()</p>
            </div>
        </a>
    }
</div>

@{
    var prevDisabled = Model.HasPreviousPage ? "" : "disable";
    var nextDisabled = Model.HasNextPage ? "" : "disable";
}

<div class="pagination-ctr">
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="@prevDisabled">Предишна</a>
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="@nextDisabled">Следваща</a>
</div>

