﻿@using PrivateLibrary.Models;
@model EmployeeRegisterViewModel

@{
    ViewData["Title"] = "Register Employee";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/submitButton.css" asp-append-version="true" />

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form id="registerForm" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.FirstName">First name</label>
                <input class="form-control " autocomplete="First name" aria-required="true" asp-for="@Model.FirstName" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.MiddleName">First name</label>
                <input class="form-control " autocomplete="First name" aria-required="true" asp-for="@Model.MiddleName" />
                <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
            </div>
            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.LastName">Last Name</label>
                <input class="form-control " autocomplete="Last Name" aria-required="true" asp-for="@Model.LastName" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.UserName">Username</label>
                <input class="form-control" autocomplete="username" aria-required="true" asp-for="@Model.UserName" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.Email">Email</label>
                <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.Email" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.PhoneNumber">Phone Number</label>
                <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.PhoneNumber" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.Password">Password</label>
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.ConfirmPassword">Confirm Password</label>
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.EGN">EGN</label>
                <input class="form-control" type="text" autocomplete="new-password" aria-required="true" asp-for="@Model.EGN" />
                <span asp-validation-for="@Model.EGN" class="text-danger"></span>
            </div>
            <div class="text-center" style="padding-top: 20px;">
                <button id="register-submit" type="submit" class="btn btn-secondary">Register Employee</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}