@using PrivateLibrary.Data.Models;
@model Book
@{
    ViewData["Title"] = "Добавяне на книга";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form id="AddBookForm" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.Title">Заглавие</label>
                <input class="form-control" aria-required="true" asp-for="@Model.Title" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>

            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.Author">Автор</label>
                <input class="form-control" aria-required="true" asp-for="@Model.Author" />
                <span asp-validation-for="@Model.Author" class="text-danger"></span>
            </div>

            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.CostPerDay">Цена за ден</label>
                <input type="text" class="multiline-input" aria-required="true" asp-for="@Model.CostPerDay" />
                <span asp-validation-for="@Model.CostPerDay" class="text-danger"></span>
            </div>

            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.ISBN"></label>
                <input type="text" class="multiline-input" aria-required="true" asp-for="@Model.ISBN" />
                <span asp-validation-for="@Model.ISBN" class="text-danger"></span>
            </div>

            <div class="text-lg-start" style="padding-bottom: 20px;">
                <label style="padding-left: 10px;" asp-for="@Model.Image">Изображение</label>
                <input type="text" class="multiline-input" aria-required="true" asp-for="@Model.Image" />
                <span asp-validation-for="@Model.Image" class="text-danger"></span>
            </div>
            <div class="text-center" style="padding-top: 20px;">
                <button id="register-submit" type="submit" class="btn btn-secondary">Добави</button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

