﻿@using PrivateLibrary.Data.Models;
@model Book

<link href="~/css/books.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Детайли за книга";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="book-details-container">
    <div class="image-ctr">
        <img src="@Model.Image" alt="Alternate Text" />
    </div>
    <div class="info-container">
        <h4>@Model.Title</h4>
        <div class="details">
            <p>Автор: @Model.Author</p>
            <p>Статус: @(Model.IsTaken ? "Взета" : "Свободна")</p>
            <p>Цена за ден: @Model.CostPerDay лв.</p>
            <p>ISBN: @Model.ISBN</p>
        </div>
        <div class="book-btns">
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success "> <i class="bi bi-person-dash-fill"></i>Редактиране</a>
                <a asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger "> <i class="bi bi-person-dash-fill"></i>Изтриване</a>
            }
            @if (User.IsInRole("Reader") && Model.IsTaken == false)
            {
                <a asp-controller="Book" asp-action="Take" asp-route-id="@Model.Id" class="btn btn-danger "> <i class="bi bi-person-dash-fill"></i>Вземи</a>
            }
        </div>
    </div>
</div>

