@using PrivateLibrary.Data.Models;
@using PrivateLibrary.Models.Pagination
@model PaginatedList<Book>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link href="~/css/books.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Книги";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="book-search-ctr">
    <form asp-controller="Book" asp-action="Index" method="get">
        <input class="input-field" type="search" id="searchBox" name="search" value="@ViewBag.Search" placeholder="Заглавие, автор, ISBN" />
        <input class="input-btn" type="submit" value="Търси" />
    </form>
    <div class="sort">
        <p>Сортирай по:</p>
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex)" asp-route-sortOrder="Заглавие (А-Я)">Заглавие (А-Я)</a>
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex)" asp-route-sortOrder="Заглавие (Я-А)">Заглавие (Я-А)</a>
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex)" asp-route-sortOrder="Автор (А-Я)">Автор (А-Я)</a>
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex)" asp-route-sortOrder="Автор (Я-А)">Автор (Я-А)</a>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <a class="add-book-btn" asp-controller="Book" asp-action="Add" class="btn btn-success">Добави</a>
    }
</div>
<hr />
<div class="book-container">
    @foreach (var book in Model)
    {
        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="book-card">
            <div class="w-100">
                <img class="card-img" src="@book.Image" />
            </div>
            <div class="info-box">
                <h4>@book.Title</h4>
                <p>Автор: @book.Author</p>
                <p>Статус: @(book.IsTaken ? "Взета" : "Свободна")</p>
                <p>Цена за ден: @book.CostPerDay лв.</p>
            </div>
        </a>
    }
</div>

@{
    var prevDisabled = Model.HasPreviousPage ? "" : "disable";
    var nextDisabled = Model.HasNextPage ? "" : "disable";
}
<div class="pagination-ctr">
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="@prevDisabled">Предишна</a>
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="@nextDisabled">Следваща</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $("#searchBox").autocomplete({
        source: function (request, response) {
            $.ajax({
                type: "GET",
                url: "Book/AutoComplete",
                data: { search: request.term },
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.title + ", " + item.author,
                            value: item.title
                        };
                    }));
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        },
        minLength: 1
    });
</script>
